<form [formGroup]="generalForm" *ngIf="generalForm">

  <div *ngIf="details">
    <mat-slide-toggle (change)="toggleEdit()">Edit</mat-slide-toggle>
  </div>

  <div class="flex-container">

    <div class="flex-container__content">

      <app-form-group
        *ngIf="carModelDetailsForm"
        [fg]="generalForm"
        [name]="'carModelDetailsForm'"
        [controls]="carModelDetailsFormControls"
        [gridColumns]="gridColumns">
      </app-form-group>

    </div>

    <div class="flex-container__content--image">
      <img alt="" src="../../../assets/body/body_1.png">
    </div>

  </div>

  <div class="controls">
    <button mat-flat-button type="button" class="col-danger" (click)="onCancel()">Cancel</button>
    <button mat-flat-button type="submit" class="col-primary" (click)="onSubmit()">Save</button>
  </div>

</form>
<p>General form: {{ generalForm.value | json }}</p>
<p>is form valid: {{ generalForm.valid }}</p>
