<div class="data-table" style="width: 100%">

  <mat-table mat-table #table [dataSource]="datasource" matSort>

    <!-- Order id column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['details', element.id]">{{element.id}}</a>
      </mat-cell>
    </ng-container>

    <!-- Order status column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>

    <!-- Order total price -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.price | PricePipe}}</mat-cell>
    </ng-container>

    <!-- Create date column -->
    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.createdDate | DateTimePipe}}</mat-cell>
    </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="align-right">Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-right">
        <button mat-stroked-button color="primary" [routerLink]="['/payment']">Continue payment</button>
        <button mat-stroked-button color="warn" (click)="onDelete(element.id)"><i class="far fa-trash-alt"></i></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

</div>
