<div class="wrapper">
  <div class="card">

    <!-- Add new breaks -->

    <div *ngIf="!details">
      <h1>Add new breaks</h1>

      <app-parts-form
        [partFormDetailsControls]="breaksDetailsFormControls"
        [partType]="'breaks'"
        [partPreviews]="breaksPreviews"
        [isCompanyContext]="isCompanyContext"
        (submitEvent)="onSubmit($event)">
      </app-parts-form>

    </div>

    <!-- Edit breaks -->
    <div *ngIf="details">
      <h1>{{breaksModel.name}}</h1>

      <app-parts-form
        [partModel]="breaksModel"
        [partFormDetailsControls]="breaksDetailsFormControls"
        [partType]="'breaks'"
        [partPreviews]="breaksPreviews"
        [isDisabled]="true"
        [details]="details"
        [isCompanyContext]="isCompanyContext"
        (submitEvent)="onSubmit($event)">
      </app-parts-form>

    </div>

  </div>
</div>
