<div class="auth-form">

  <h1>Find your account</h1>

  <p>Enter you e-mail address to reset the password.</p>

  <form action="">
    <div class="form-group">
      <div class="form-field">
        <input type="email"
               id="email"
               placeholder="Enter email address"
               class=""
               ngModel
               name="email"
               required
               email>
      </div>
    </div>

    <div class="form-controls">
      <button class="btn col-primary">Reset the password</button>

      <button class="btn col-primary" (click)="closeDialog()">Cancel</button>
    </div>
  </form>

</div>
