@import "../atoms/variables";

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 600px;

  form {
    width: 400px;
  }

  h1 {
    font-size: 4em;
    font-weight: bold;
    color: black;
  }

  .terms {
    display: flex;
    justify-content: space-between;
    width: 400px;

    a {
      font-size: 18px;
    }

    i {
      color: $col-primary;
    }

  }

}
