<form [formGroup]="generalForm" *ngIf="generalForm">

  <div *ngIf="details">
    <mat-slide-toggle (change)="changeMode()">Edit</mat-slide-toggle>
  </div>

  <div class="flex-container">

    <div class="flex-container__content">

      <app-form-group
        *ngIf="partDetailsForm"
        [fg]="generalForm"
        [name]="'partDetailsForm'"
        [controls]="partFormDetailsControls"
        [gridColumns]="gridColumns"></app-form-group>

    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="flex-container__content--image">
      <img alt="{{partType}} image" src="../../../assets/{{partType}}/{{getPartPreview()}}" class="">
    </div>
  </div>

  <div class="controls">
    <button mat-flat-button type="button" class="col-danger" (click)="goBack()">Cancel</button>
    <button mat-flat-button type="submit" class="col-primary"
            (click)="onSubmit()"
            *ngIf="!this.isDisabled"
            [disabled]="partDetailsForm.invalid">Save
    </button>
  </div>

</form>
<p>General form: {{ partDetailsForm.value | json }}</p>
<p>Is form valid: {{ partDetailsForm.valid }}</p>
