<div class="wrapper">
  <div class="card">

    <div class="details" *ngIf="factory">

      <div class="details--info">

        <!-- Factory details -->
        <app-details-form-group
          *ngIf="factory"
          [detailsModel]="factory"
          [details]="factoryDetails"
          [sectionName]="'Factory details'">
        </app-details-form-group>

        <!-- Address details -->
        <app-details-form-group
          *ngIf="factory"
          [detailsModel]="factory"
          [details]="addressDetails"
          [sectionName]="'Address details'">
        </app-details-form-group>

        <div class="details--grid">
          <div class="details--field">
            <span>Match status</span>
            <h3>{{factory.matchStatus | StatusPipe}}</h3>
          </div>

          <div class="request-button">
            <button mat-flat-button color="warn" (click)="openRequestDialog(cancelMatch)"
                    *ngIf="factory.matchStatus === Accepted">
              Cancel matching
            </button>

            <button mat-flat-button color="accent" (click)="openRequestDialog()"
                    *ngIf="factory.matchStatus === NotMatched || factory.matchStatus === null">
              Request matching
            </button>

            <button mat-flat-button color="warn" (click)="openRequestDialog(cancelMatch)"
                    *ngIf="factory.matchStatus === Pending">
              Cancel matching process
            </button>
          </div>
        </div>

      </div>

      <mat-divider [vertical]="true"></mat-divider>

      <div class="details--parts">
        <app-factory-parts
          *ngIf="factory"
          [isMatched]="isMatched"
          [brakes]="factory.parts">
        </app-factory-parts>
      </div>

    </div>
    <div class="controls">
      <button mat-stroked-button color="warn" [routerLink]="['/factories']">
        Go back
      </button>
    </div>

  </div>
</div>
