.card-header {
  margin-bottom: 0;
}

.factory--details {
  display: flex;
  justify-content: space-between;
  height: 600px;

  .factory--details__info {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h2 {
    margin-bottom: 1em;
  }

  .factory--details__grid {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    margin-bottom: 2em;

    .details--field {
      margin-bottom: 0;
    }

  }

  .factory--details__parts {
    width: 600px;
  }

}

.request-button {

}

mat-divider {
  margin: 0 1em;
}
