<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Factory one
      </mat-panel-title>
      <mat-panel-description>
        <p>Amount: 1</p>
        <p>Price: $150</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="cart--element">
      <div class="cart--element__items">
        <mat-panel-title>
          Factory one
        </mat-panel-title>
        <mat-panel-description>
          <p>Amount: 1</p>
          <p>$150</p>
        </mat-panel-description>
        <button mat-stroked-button color="warn"><i class="far fa-trash-alt"></i></button>
      </div>
    </div>
    <div class="cart--element__controls">
      <button mat-flat-button color="accent" (click)="onClick($event)">Make order</button>
      <button mat-flat-button color="warn" (click)="onClick($event)">Remove from cart</button>
    </div>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Factory one
      </mat-panel-title>
      <mat-panel-description>
        <p>Amount: 1</p>
        <p>Price: $150</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>

      <!-- fixme: BRAKES -->

      <div mat-subheader>Brakes</div>
      <mat-list-item>
        <div mat-line>
          <div class="list--item">
            <div class="list--item__name">
              <p>Brakes one</p>
            </div>
            <div class="list--item__value">
              <input type="number">
            </div>
            <div class="list--item__price">
              <p>$150</p>
            </div>
            <button mat-stroked-button color="warn"><i class="far fa-trash-alt"></i></button>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div mat-line>
          <div class="list--item">
            <div class="list--item__name">
              <p>Brakes one</p>
            </div>
            <div class="list--item__value">
              <input type="number">
            </div>
            <div class="list--item__price">
              <p>$150</p>
            </div>
            <button mat-stroked-button color="warn"><i class="far fa-trash-alt"></i></button>
          </div>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <!-- fixme: Tires -->

      <div mat-subheader>Tires</div>
      <mat-list-item>
        <div mat-line>
          <div class="list--item">
            <div class="list--item__name">
              <a [routerLink]="">Tires one</a>
            </div>
            <div class="list--item__value">
              <input type="number">
            </div>
            <div class="list--item__price">
              <p>$150</p>
            </div>
            <button mat-stroked-button color="warn" (click)="removeItem()"><i class="far fa-trash-alt"></i></button>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div class="cart--element__controls">
      <button mat-flat-button color="accent" (click)="onClick($event)">Make order</button>
      <button mat-flat-button color="warn" (click)="onClick($event)">Remove from cart</button>
    </div>
  </mat-expansion-panel>


</mat-accordion>

<div class="controls">
  <button mat-stroked-button color="primary" (click)="onClick($event)">Order all</button>
  <button mat-stroked-button color="warn" (click)="onClick($event)">Clear cart</button>
</div>
