<mat-tab-group mat-align-tabs="start">

  <ng-container *ngFor="let partType of parts | keyvalue">

    <mat-tab label="{{partType.key}}">

      <ul class="part-list">

        <ng-container *ngFor="let part of partType.value">

          <li>
            <a [routerLink]="" (click)="openPartDetails(part, partType.key)">{{part.name}}</a>
            <ng-container *ngIf="isMatched">
              <button mat-stroked-button color="accent" (click)="openAddToCartDialog(part)">
                <i class="fas fa-plus"></i>
              </button>
            </ng-container>
          </li>

        </ng-container>

      </ul>

    </mat-tab>

  </ng-container>

</mat-tab-group>
