.part-list {
  list-style: none;
  padding: 0;
  max-height: 550px;

  li {

    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    &:hover {
      color: #eba200;
      background: #fff8e7;

      a {
        text-decoration: none;
        font-weight: bold;
        color: #eba200;
        background: #fff8e7;
      }

    }


    a {
      width: 100%;
      line-height: 3em;
      display: block;
      padding: 0.5em 2em;
      color: #212121;
      font-size: 16px;
      text-decoration: none;
    }

    button {
      margin-right: 1em;
    }

  }

}
