<div class="registration-form">

  <div *ngIf="this.isRegistration">
    <h1>Register new account</h1>

    <mat-slide-toggle (click)="toggleRegistrationMode()">
      Are you a company user?
    </mat-slide-toggle>

    <app-registration-company *ngIf="isCompanyUser"></app-registration-company>

    <app-registration-customer *ngIf="!isCompanyUser"></app-registration-customer>
  </div>

  <div *ngIf="!this.isRegistration">
    <app-registration-confirmation
      [title]="title"
      [message]="message"
      [isSuccess]="isSuccess">
    </app-registration-confirmation>
  </div>

  <div *ngIf="this.loading">
    <app-loading-spinner></app-loading-spinner>
  </div>

</div>
