<div class="modal-content">
  <div class="flex-container">

    <div class="flex-container__content">

      <div class="factory--details__field">
        <span>Name</span>
        <h3>Breaks one</h3>
      </div>

      <div class="factory--details__field">
        <span>Price</span>
        <h3>$150</h3>
      </div>

    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="flex-container__content--image">
      <img alt="Part image" src="../../../assets/{{partType | lowercase}}/{{partPreview}}">
    </div>

  </div>
</div>
