.modal-content {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;

  .part-details {
    width: 300px;
  }

  .part-image {

    img {
      width: 300px;
    }

  }

  mat-divider {
    margin: 0 2em;
  }

}
