<div class="wrapper">
  <div class="card">
    <mat-horizontal-stepper linear #stepper>

      <mat-step>
        <!-- todo: First step is to choose model of the car -->
        <ng-template matStepLabel>Car model</ng-template>
        <div class="controls">
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent"  matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Brakes</ng-template>

        <!-- todo: Brakes step -->

        <div class="controls">
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent"  matStepperNext>Next</button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Engine</ng-template>

        <!-- todo: Engine step -->

        <div class="controls">
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent"  matStepperNext>Next</button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Wheels</ng-template>

        <!-- todo: Wheels step -->

        <div class="controls">
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent"  matStepperNext>Next</button>
        </div>

      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Window</ng-template>

        <!-- todo: Window step -->

        <div class="controls">
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent"  matStepperNext>Next</button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Tires</ng-template>

        <!-- todo: Tires step -->

        <div class="controls">
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent"  matStepperNext>Next</button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Equipment</ng-template>

        <!-- todo: Equipment step -->

        <div class="controls">
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent"  matStepperNext>Next</button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Summary</ng-template>

        <!-- todo: Summary step -->

        <div class="controls">
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent"  matStepperNext>Next</button>
        </div>

      </mat-step>

    </mat-horizontal-stepper>
  </div>
</div>
