.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  @media only screen and(max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }

  .flex-container__content {
    width: 100%;
  }

  .flex-container__content--image {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 500px;
    }
  }

  mat-divider {
    margin: 0 2.6em;
  }

}
