@import 'variables';

.grid-container {

  display: grid;
  grid-template-columns:repeat(4, 1fr); // == 1fr 1fr 1fr 1fr
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  margin-bottom: 1em;

  .grid-card {

    display: flex;
    justify-content: center;

    a {
      width: 240px;
      height: 360px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border-radius: 0.5em;
      border: 1px solid rgba(0, 0, 0, 0.3);
      color: $dark;
      font-size: 2em;
      text-transform: lowercase;
      padding-bottom: 1.2em;
      background-repeat: no-repeat;
      background-size: 200px 200px;
      background-position-x: center;
      background-position-y: 1.4em;
      box-shadow: $box-shadow__grid-card;
      transition: $transition;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: $box-shadow__grid-card--hover;
        border: 1px solid #fff;
        text-decoration: none;
        color: $col-primary;
      }

      @media only screen and (max-width: 1200px) {
        width: 220px;
        height: 330px;
      }
    }

  }

}
