@import 'variables';

.grid-container {

  display: grid;
  grid-template-columns:repeat(4, 1fr); // == 1fr 1fr 1fr 1fr
  grid-gap: 1em;

  .grid-card {

    display: flex;
    justify-content: center;

    a {
      width: 240px;
      height: 360px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border-radius: 0.5em;
      color: $dark;
      font-size: 2em;
      text-transform: lowercase;
      padding-bottom: 1.2em;
      background-repeat: no-repeat;
      background-size: 200px 200px;
      background-position-x: center;
      background-position-y: 1.4em;

      &:hover {
        cursor: pointer;
        transition: $transition;
        box-shadow: $box-shadow__grid-card;
        text-decoration: none;
        color: $col-primary;
      }
    }

  }

}
