/* BASIC */


/* COLORS */
$white: #F5F5F5;
$black: #000;
$dark: #212121;
$bodyBg: #9E9E9E;
$bodyBgLighten: #ABABAB;
$bodyBgDarken: #393939;

$col-primary: #FFB300;
$col-primary-hover: #eba200;

$col-secondary: #616161;

$col-border: #d1d1d1;
$col-text: #585858;

$warningColor: #bb0000;

$alert-color: #ac6d6d;
$alert-color__border: #741212;

/* FONTS */


/* MEDIA */
$wrapper-width: 1200px;

/* ANIMATION */
$transition: all .3s ease;

/* BOX SHADOWS */
$box-shadow__base: -10px 10px 20px 0 rgba(0, 0, 0, 0.3);
$box-shadow__grid-card: -5px 5px 10px 0 rgba(0, 0, 0, 0.3);
