<div class="wrapper">
  <div class="card">
    <div class="card-header">

      <h1>Parts</h1>

    </div>
    <div class="grid-container">

      <!-- todo: Change assets -->
      <div class="grid-card">
        <a [routerLink]="['/brakes']" style="background-image: url('../../../../assets/brakes/brakes_1.png')">Brakes</a>
      </div>

      <div class="grid-card">
        <a [routerLink]="['/engines']" style="background-image: url('../../../../assets/engines/engine_1.png')">Engines</a>
      </div>

      <div class="grid-card">
        <a [routerLink]="['/equipment']" style="background-image: url('../../../../assets/engines/engine_1.png')">Equipment</a>
      </div>

      <div class="grid-card">
        <a [routerLink]="['/painting']" style="background-image: url('../../../../assets/engines/engine_1.png')">Painting</a>
      </div>

      <div class="grid-card">
        <a [routerLink]="['/tires']" style="background-image: url('../../../../assets/engines/engine_1.png')">Tires</a>
      </div>

      <div class="grid-card">
        <a [routerLink]="['/wheels']" style="background-image: url('assets/wheels/wheel_1.png')">Wheels</a>
      </div>

      <div class="grid-card">
        <a [routerLink]="['/windows']" style="background-image: url('../../../../assets/engines/engine_1.png')">Windows</a>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
