<div class="wrapper">
  <div class="card">
    <div class="card-header">
      <h1>Factories</h1>
    </div>

    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Signed contracts">
        <app-factories-data-table
          [data]="factories">
        </app-factories-data-table>
      </mat-tab>
      <mat-tab label="Find factory">
        <app-factories-data-table
          [data]="factories">
        </app-factories-data-table>
      </mat-tab>
    </mat-tab-group>

    <div class="searching" *ngIf="loading">
      Searching, please wait
    </div>

    <div class="" *ngIf="loading">
      <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </div>

    <div class="no-records" *ngIf="noRecords">
      No records found
    </div>

  </div>
</div>
