<div class="wrapper">
  <div class="card">

    <!-- Add new brakes -->

    <div *ngIf="!details">
      <h1>Add new brakes</h1>

      <app-parts-form
        [partFormDetailsControls]="brakesDetailsFormControls"
        [partType]="'brakes'"
        [partPreviews]="brakesPreviews"
        (submitEvent)="onSubmit($event)">
      </app-parts-form>

    </div>

    <!-- Edit brakes -->
    <div *ngIf="details">
      <h1>{{brakesModel.name}}</h1>

      <app-parts-form
        [partModel]="brakesModel"
        [partFormDetailsControls]="brakesDetailsFormControls"
        [partType]="'brakes'"
        [partPreviews]="brakesPreviews"
        [isDisabled]="true"
        [details]="details"
        (submitEvent)="onSubmit($event)">
      </app-parts-form>

    </div>

  </div>
</div>
