<div class="data-table" style="width: 100%">

  <mat-table #table [dataSource]="datasource" matSort>

    <!-- Factory name column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Factory name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['details', element.id]">{{element.companyName}}</a>
      </mat-cell>
    </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="align-right">Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-right" style="padding: 0">
        <button mat-stroked-button color="primary" (click)="openMatchDialog(element.id, element.companyName)">Request matching</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator #paginator
                 [length]="datasource.data.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 15]"
                 [hidden]="datasource.data.length === 0">
  </mat-paginator>

</div>
