@import '../atoms/variables';

.nav-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2% 2%;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .nav-logo {

    display: flex;
    align-items: center;

    @media only screen and (max-width: 1200px) {
      justify-content: center;
      margin: 2em;
    }

    img {
      width: 60%;
      height: auto;
    }

  }

  .nav-links {

    ul {

      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      li {


        &:not(:last-child) {
          margin-right: 3em;
        }

        a {
          color: $white;
          font-size: 16px;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            color: $col-primary;
            text-decoration: underline;
          }

          @media only screen and (max-width: 1200px) {
            font-size: 20px;
          }

        }

        .active-link {
          color: $col-primary;
          letter-spacing: 2px;
          font-weight: bold;
        }

      }

    }

  }

}
