<nav>
  <div class="nav-container">
    <div class="nav-logo">
      <img src="/assets/carly_logo.png" alt="Carly-logo">
    </div>

    <div class="nav-links">
      <ul>
        <li *appUserCanAccess="[CarlyAdministrator, CarlyCustomer, CarlyCompany, CarlyFactory]">
          <a routerLinkActive="active-link" [routerLink]="['/home']">Home</a>
        </li>
        <li *appUserCanAccess="[CarlyAdministrator, CarlyCustomer, CarlyCompany, CarlyFactory]">
          <a routerLinkActive="active-link" [routerLink]="['/parts']">Parts</a>
        </li>
        <li *appUserCanAccess="[CarlyAdministrator, CarlyCustomer, CarlyCompany, CarlyFactory]">
          <a routerLinkActive="active-link" [routerLink]="['/models']">Models</a>
        </li>
        <li *appUserCanAccess="[CarlyAdministrator, CarlyCustomer, CarlyCompany, CarlyFactory]">
          <a routerLinkActive="active-link" [routerLink]="['/cars']">Cars</a>
        </li>
        <li *appUserCanAccess="[CarlyAdministrator, CarlyCompany]">
          <a routerLinkActive="active-link" [routerLink]="['/factories']">Factories</a>
        </li>
        <li *appUserCanAccess="[CarlyFactory]">
          <a routerLinkActive="active-link" [routerLink]="['/contracts']">Contracts</a>
        </li>
        <li *appUserCanAccess="[CarlyAdministrator, CarlyCustomer, CarlyCompany, CarlyFactory]">
          <a routerLinkActive="active-link" [routerLink]="['/orders']">Orders</a>
        </li>
        <li *appUserCanAccess="[CarlyAdministrator, CarlyCustomer, CarlyCompany, CarlyFactory]">
          <a routerLinkActive="active-link" [routerLink]="['/news']">News</a>
        </li>
        <li *appUserCanAccess="[CarlyCompany, CarlyCustomer, CarlyFactory]">
          <a routerLinkActive="active-link" [routerLink]="['/profile']">My profile</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a [routerLink]="" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
