@import "../../node_modules/@angular/material/theming";


$fontSize: 10px !default;

@function rem($multiplier) {
  @return $multiplier * $fontSize;
}

$carly-app-primary: mat-palette($mat-grey, 800);
$carly-app-accent: mat-palette($mat-orange, 300);
$carly-app-warn: mat-palette($mat-red, 800);
$carly-app-theme: mat-light-theme($carly-app-primary, $carly-app-accent, $carly-app-warn);

@include angular-material-theme($carly-app-theme);


a {
  color: mat-color($carly-app-primary);

  &:hover {
    cursor: pointer;
    color: mat-color($carly-app-accent);
  }

}
