<div class="data-table" style="width: 100%">

  <div class="filter-bar">
    <mat-form-field style="width: 100%; margin-top: 1em;">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="filter" #ctrl="ngModel"
             (keyup)="applyFilter($event.target.value)"
             placeholder="Type here to search...">
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="clearFilter()">Clear</button>
  </div>

  <mat-table mat-table #table [dataSource]="datasource" matSort>

    <!-- Name column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['details', element.company.id]">{{element.company.companyName}}</a>
      </mat-cell>
    </ng-container>

    <!-- Contract status -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Status</mat-header-cell>
      <mat-cell *matCellDef="let element"
                [ngStyle]="element.matchStatus === Matched ? {'color' : 'green'} : {'color' : 'red'}"
                class="align-center">{{element.matchStatus | StatusPipe}}</mat-cell>
    </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="align-right">Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-right">
        <ng-container *ngIf="element.matchStatus !== Matched">
          <button mat-stroked-button color="primary" (click)="openMatchDialog(element.company)">Request matching</button>
        </ng-container>
        <ng-container *ngIf="element.matchStatus === Matched">
          <button mat-stroked-button color="warn" (click)="openMatchDialog(element.company, cancelMatch)">Cancel contact</button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator #paginator
                 [length]="datasource.data.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 15]"
                 [hidden]="datasource.data.length === 0">
  </mat-paginator>

</div>
